recursive-include src/deeplog *.pl
prune tests
prune examples
prune site
prune docs
prune logo
prune gitlab-runner
exclude AGENTS.md
exclude CONTRIBUTING.md
exclude Dockerfile
exclude conftest.py
exclude requirements.txt
exclude .pre-commit-config.yaml
exclude .gitlab-ci.yml
exclude .gitlab-ci-local-env
exclude .python-version
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
