
numpy
torch
torchmetrics
torchvision
pytorch-lightning
pysdd
klaycircuits
lark
pytest
coverage
pytest-cov
graphviz
matplotlib
pre-commit
nbstripout
ruff
nbconvert
ipykernel
pyzmq
sphinx
sphinx-autoapi
pydata-sphinx-theme==0.16.1
myst-nb
sphinx-design==0.6.1
sphinx-copybutton
jupyter-sphinx
sphinx-multiversion
build
twine
janus_swi
